{% extends 'Home/full-base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <a href="/"> 
              <img src="{% static 'images/logo.svg' %}">
              </a>
            </div>
            {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-4" style="z-index: 1000;" role="alert">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
              <button type="button" class="btn-close mt-0" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <h4>Hello! let's get started</h4>
            <h6 class="font-weight-light">Sign in to continue.</h6>
            <form method="POST" class="pt-3">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="username" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1"
                  placeholder="Password">
              </div>
              <div class="mt-3">
                <input type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" value="SIGN IN">
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                </div>
                <a href="#" class="auth-link text-black">Forgot password?</a>
              </div>
              <!-- <div class="mb-2">
                <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                  <i class="mdi mdi-facebook me-2"></i>Connect using facebook </button>
              </div> -->
              <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="{% url 'register' %}"
                  class="text-primary">Create</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
{% endblock %}